h1{
    font-family: ParchmentEGEN, serif;
    font-size: 5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h2,h3,h4{
    font-family: Courier NewEGEN, serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label, button, input, p{
    font-family: Courier NewEGEN, serif;
}


p{margin:0.25rem}



@font-face {
    font-family: 'ParchmentEGEN';
    src: url('fonts/Parchment-Regular.eot');
    src: url('fonts/Parchment-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Parchment-Regular.woff2') format('woff2'),
    url('fonts/Parchment-Regular.woff') format('woff'),
    url('fonts/Parchment-Regular.ttf') format('truetype'),
    url('fonts/Parchment-Regular.svg#Parchment-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier NewEGEN';
    src: url('fonts/CourierNewPSMT.eot');
    src: url('fonts/CourierNewPSMT.eot?#iefix') format('embedded-opentype'),
    url('fonts/CourierNewPSMT.woff2') format('woff2'),
    url('fonts/CourierNewPSMT.woff') format('woff'),
    url('fonts/CourierNewPSMT.ttf') format('truetype'),
    url('fonts/CourierNewPSMT.svg#CourierNewPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
