.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Form {
    width: fit-content;
    justify-self: center;
    align-self: center;
}
.Text {
    justify-self: center;
    align-self: center;
    width: 70vw;
    margin-top: 2vh;
    max-width: 400px;
}

.formStyle {
    display: flex;
    flex-direction: column;
    max-width: 12vw;
}
.kategori {
    min-width: 100px;
    max-width: 8vw;
}

.labelStyle {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.buttonStyle {
    margin-top: 2vh;
    width: fit-content;
}

.FixaText {
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

@media screen and (max-width: 800px) {
    .container{
        padding-bottom: 30vh;
    }
    .formStyle {
        max-width: 62vw;
    }
    .kategori {
        max-width: 15vw;
    }
}



