.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Form {
    width: fit-content;
    justify-self: center;
    align-self: center;
}
.Text {
    justify-self: center;
    align-self: center;
    width: 70vw;
    margin-top: 2vh;
    max-width: 400px;
}

.formStyle {
    display: flex;
    flex-direction: column;
}

.labelStyle {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.buttonStyle {
    margin-top: 2vh;
    width: fit-content;
}

.FixaText {
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

@media screen and (max-height: 1000px) {

    .container{
         padding-bottom: 20vh;
    }
}

