.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header {
    justify-self: center;
    align-self: center;
    width: 70vw;
    margin-top: 2vh;
    max-width: 400px;
}


.FlexAndCenter{
    display: flex;
    justify-content: center;
}

.Padding1REM{
    align-self: center;
    justify-self: center;
    max-height: 100px;
    max-width: 500px;
    padding: 1rem;
}



.ROWFLEX{
    flex-direction: column;
    display: flex;
    word-wrap: break-word;
    min-width: 15vw;
}

.BILD{
    align-self: center;
    justify-self: center;
    padding-right: 1rem;
}

@media screen and (max-height: 1000px) {

    .container{
        padding-bottom: 20vh;
    }
}
